
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 15px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

header {
    text-align: center;
    padding: 20px;
}

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 0;
}

main {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 15px;
}

main ol li a {
    text-decoration: none;
    color:rgb(6, 96, 165);
    font-weight: bold;
}

img {
    border:#333 4px solid;
    padding: 5px;
    margin: 5px;
    }

form {
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}   